*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: whitesmoke;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header h2 {
  color: #212121;
  text-align: center; 
  font-family: "Lato";
  margin: 9px;
}
.balance {
  text-align: left;
  width: 500px;
  margin: 20px;
  padding: 10px;
  color: #212121;
  font-family: "Lato";


}
.card-panel{
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content:space-between;
  align-items: center;
  background-color: white;
  height: 130px;
  padding: 20px;
  box-shadow: 1px 1px 3px grey;
}
.income{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.income h2{
color:#00e676;
font-family: "Lato";
text-align: center;
}
.income h3{
  color: #212121;
  margin: 3px 0px;
  font-family: "Lato";
  text-align: center;
  }
  .expense{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  .expense h2{
    color:#c62828 ;
    font-family: "Lato";
    text-align: center;
    }
    .expense h3{
      color: #212121;
      margin: 3px 0px;
      font-family: "Lato";
      text-align: center;
      }
      .history{
        text-align: left;
        width: 500px;
        margin: 20px;
        padding: 10px;
        color: #212121;
        font-family: "Lato"; 
      }
      .history h3{
        margin: 8px;
      }
      .history li{
        margin: 20px;
        background-color: white;
        height: 50px;
        padding: 20px;
        list-style: none;
        box-shadow: 1px 1px 3px grey;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .history button{
        background-color: transparent;
        color: #7c4dff;
        border: none;
        padding:8px;
        font-weight: 600;
        font-size: 17px;
      }
      .history button:hover{
        background-color: #7c4dff;
        color: white;
      }
      .form h3{
         text-align: left;
        color: #212121;
        width: 500px;
         margin: 8px;
        font-family: "Lato";  
      }
      .form label{
        display: block;
        font-size: 18px;
        text-align: left;
       color: #212121;
       width: 500px;
        margin: 8px;
       font-family: "Lato";  
     }
     .form input{
      display: block;
      border: 1px solid lightgray;
       width: 500px;
      margin: 3px;
      height: 40px;
     font-family: "Lato";  
   }
   .form p{
    display: block;
    font-size: 18px;
    text-align: left;
   color: #212121;
   width: 500px;
    margin: 8px;
   font-family: "Lato";  
 }
 .form button{
  margin: 10px 0px;
   width: 500px;
   height: 40px;
   background-color: #7c4dff;
   color: white;
   border: none;
   font-family: "Lato";  
  box-shadow: 1px 1px 1px grey;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
 }